@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aula de Deploy</h1>
    <p>Saiba mais <a href="https://www.jetbrains.com/teamcity/?source=google&medium=cpc&campaign=12704032062&gclid=CjwKCAjwz5iMBhAEEiwAMEAwGAr-2ToNSGPuj5mS01nxxoEo6mZJ_y8SUoe4PTtqtVb58bcImoimgRoCUMwQAvD_BwE">Deploy com Team City</a>.</p>
</div>


<h1>Homologação</h1>